.bloc{
    background-color: rgb(235, 230, 213);
    align-items: center;
    width: 96%;
    height: 400px;
    margin: 2% ; 
    border-radius: 10px; 
}
.titre{
    font-family: Georgia, serif;
    font-size: 200%;
    text-align: center;
    padding: 2%;
    color: rgb(46, 45, 45);
}
.cv{
    padding: 0 3%;
    text-align: justify;
    font-size: 110%;
}